@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');

$charcoal: #373737;
$paper: #F4F4F4;
$lavender: #6D7993; 
$grape: #94618E;
$eggplant: #49274A; 
$lemon: #DCB239;
$forest: #015249;

body {
  margin: 0;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  padding-right: 5%;
  padding-left: 0;

  .nav-icons {
    width: 50%;
    display: flex;
    flex-direction: row;
    padding-left: 16px;
  }

  .links {
    display: flex;
    font-family: 'Poiret One', cursive;
    width: 50%;
    padding: 16px auto; 
    justify-content: flex-end;

    a {
      text-decoration: none;
      color: white;
      font-size: 1.5em;
    }
  }

  li {
    margin-left: 5%;
    list-style-type: none;
  }
}


.fixed-menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.name-title {
  font-family: 'Poiret One', cursive;
  padding-top: 1.3em;
  font-size: 5.5em;
  line-height: 110%;
  font-weight: 400;
  color: floralwhite;
}

.roles {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: floralwhite;
}

.separator {
  margin: 0px 10px;
}


.hero-container {
  height: calc(100vh - 60px);

  &.intro-page {
    text-align: center;
  }
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  .parallax-image {
    transform: translate3d(-50%, 0px, 0px);
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
}

.title-section {
  text-align: left;
  background-color: $eggplant;
  overflow: auto;
}

.parallax-container {
  height: 500px;
  position: relative;

  .inner-container {
    padding-top: 4em;
  }
}

.section-header {
  font-family: 'Titillium Web', sans-serif;
  text-align: left;
  font-size: 3.56rem;
  line-height: 110%;
  margin: 1.5rem 0;
  font-weight: 400;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.row-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.about-section {
  background-color: $paper;
  .about-container {
    height: auto;
    padding: 4em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin: 0 auto;
    max-width: 1280px;

    .profile-history {
      margin-right: 20px;
      max-width: 600px;

      p {
        text-align: left;
        font-family: 'Slabo 27px', serif;
        font-size: 18px;
      }
    }

    .profile-image {
      // height: 100%;
      margin-left: 40px;
      box-sizing: border-box;
      width: 200px;
      height: 200px;
      background-color: #81b7ea;
      border-radius: 100%;
    }
  }
}

table {
  margin: 0 auto;

  tr {
    th {
      font-family: 'Poiret One', cursive;
      color: rgb(255,215,0);
      font-size: 1.8em;
      padding: 15px 5px;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      border-radius: 2px;
    }

    td {
      font-family: 'Titillium Web', sans-serif;
      padding: 0;
      width: 33%;
      text-align: center;
      font-size: 1.5em;
    }
  }
}